#category-timeline {
  position: sticky;
  right: 0;
  z-index: 1000;
  margin: 0;

  li {
    list-style: none;
    border-bottom: solid 1px #eee;
  }

  > li {
    padding: 12px 0;

    > ul {
      margin:12px 0 -13px 12px;

      > li {
        padding: 10px 0;

        > a {
          font-weight: bold;
        }
      }
    }
  }
}
